# Copy this file to .env and adjust the values as needed
DATABASE_URL=sqlite://accboards.db
# Replace with the path to your ACC server results folder
RESULTS_PATH=/home/ac/accsm/server/results
# You can set this to just `info` if you don't want debug logs
RUST_LOG=acc_hotlap_boards=debug,info
