<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Offline Racing ACC compo stats</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/static/favicon-32x32.png"
        >
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/static/favicon-16x16.png"
        >
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
body {
    margin-top:20px;
    background:#ccc;
}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}
.table-nowrap .table td, .table-nowrap .table th {
    white-space: nowrap;
}
.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}
table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}
.flag {
    height: 1em;
}
.tekst-center {
    text-align: center;
}
        </style>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <!-- header image above it all -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="static/header_logo.png" class="img-fluid header-img" alt="header">
                </div>
            </div>
        </div>
        {% for (track, lines) in display_data %}
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3 mb-lg-5">
                    <div class="overflow-hidden card table-nowrap table-card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Laptimes for {{ track }}</h5>
                            <!--a href="#!" class="btn btn-light btn-sm">View All</a-->
                        </div>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead class="small text-uppercase bg-body text-muted">
                                    <tr>
                                        <th>#</th>
                                        <th>Driver</th>
                                        <th class="tekst-center">
                                            Laptime
                                            <br>
                                            (Optimal)
                                        </th>
                                        <th class="tekst-center">
                                            Gap
                                            <br>
                                            (Interval)
                                        </th>
                                        <th class="tekst-center">Splits</th>
                                        <th class="tekst-center">(Best Splits)</th>
                                        <th>Car</th>
                                        <th>
                                            Date
                                            <br>
                                            Laps
                                        </th>
                                        <!--th class="text-end">Extra</th-->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for line in lines %}
                                    <tr class="align-middle">
                                        <td>{{ loop.index }}</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="static/S{{ line.steam_id }}.png" class="avatar sm rounded-pill me-3 flex-shrink-0">
                                                <div>
                                                    <div class="h6 mb-0 lh-1">
                                                        {{ line.name }}
                                                        <img class="flag" src="/static/flags/4x3/{{ line.flag_code }}.svg" alt="{{ line.flag_name }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tekst-center">
                                            {{ line.laptime }}
                                            <br>
                                            ({{ line.optimal_laptime }})
                                        </td>
                                        {% if loop.first %}
                                        <td class="tekst-center">-</td>
                                        {% else %}
                                        <td class="tekst-center">
                                            {{ line.gap }}
                                            <br>
                                            ({{ line.interval }})
                                        </td>
                                        {% endif %}
                                        <td class="tekst-center">
                                            {% for split in line.splits %}
                                            {{ split }}
                                            <br>
                                            {% endfor %}
                                        </td>
                                        <td class="tekst-center">
                                            {% for split in line.best_splits %}
                                            ({{ split }})
                                            <br>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <span class="d-inline-block align-middle">{{ line.car }}</span>
                                        </td>
                                        <td>
                                            <span class="ts_to_local">{{ line.timestamp }}</span>
                                            <br>
                                            {{ line.laps_valid }} valid ({{ line.laps_total }} total)
                                        </td>
                                        <!--td class="text-end">
                                            <div class="dropdown">
                                                <a
                                                    data-bs-toggle="dropdown"
                                                    href="#"
                                                    class="btn p-1"
                                                    aria-expanded="false"
                                                >
                                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end" style>
                                                    <a href="#!" class="dropdown-item">View Details</a>
                                                    <a href="#!" class="dropdown-item">Delete user</a>
                                                </div>
                                            </div>
                                        </td-->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- footer with github links -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <footer class="footer mt-auto py-3 bg-light">
                        <div class="container">
                            <span class="text-muted">
                                Source available on
                                <a href="https://github.com/docwilco/acc_hotlap_boards">Github</a>
                            </span>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                // undefined means "whatever the user's locale is"
                let formatter = new Intl.DateTimeFormat(undefined, {
                    dateStyle: "medium",
                    timeStyle: "medium",
                });

                $('.ts_to_local').each(function() {
                    let ts = parseInt($(this).text().trim(), 10);
                    let date = new Date(ts * 1000);
                    let formatted_date = formatter.format(date);
                    $(this).text(formatted_date);
                });
            });
        </script>
    </body>
</html>
